// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Microchip Technology Inc */

/dts-v1/;
/plugin/;

&{/chosen} {
	overlays {
		QSPI-DRIVES-ADC = "GATEWARE_GIT_VERSION";
	};
};

&qspi {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	cs-gpios = <&gpio1 17 1>, <&gpio0 12 1>;

	adc@0 {
		compatible = "microchip,mcp3464r";
		reg = <0>;
		spi-max-frequency = <5000000>;
		microchip,hw-device-address = <1>;
		spi-cpol;
		spi-cpha;

		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			/* CH0 to AGND */
			reg = <0>;
			label = "CH0";
		};

		channel@1 {
			/* CH1 to AGND */
			reg = <1>;
			label = "CH1";
		};

		channel@2 {
			/* CH2 to AGND */
			reg = <2>;
			label = "CH2";
		};

		channel@3 {
			/* CH3 to AGND */
			reg = <3>;
			label = "CH3";
		};

		channel@4 {
			/* CH4 to AGND */
			reg = <4>;
			label = "CH4";
		};

		channel@5 {
			/* CH5 to AGND */
			reg = <5>;
			label = "CH5";
		};

		channel@6 {
			/* CH6 to AGND */
			reg = <6>;
			label = "CH6";
		};

		channel@7 {
			/* CH7 is connected to AGND */
			reg = <7>;
			label = "CH7";
		};
	};

	mmc-slot@1 {
		compatible = "mmc-spi-slot";
		reg = <1>;
		gpios = <&gpio2 31 1>;
		voltage-ranges = <3300 3300>;
		spi-max-frequency = <5000000>;
		disable-wp;
	};
};
